/* Corpo della pagina */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #001D3D, #000814);
}

/* Contenitore */
#container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  padding-top: 10px; /* Riduci lo spazio sopra se necessario */
  width: 90%;
  max-width: 500px;
}

/* Pulsanti in layout Grid */
#buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne uguali */
  gap: 20px; /* Spaziatura tra i pulsanti */
  margin-top: 20px;
}

button {
  padding: 15px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #003566;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-variant: small-caps; /* Applica il maiuscoletto */
  font-weight: 450; /* Imposta il testo in grassetto */
}

button:hover {
  background-color: #023e8a; /* Colore al passaggio del mouse */
}

h1 {
  font-size: 2em;
  margin-top: 0; /* Rimuove il margine sopra */
  margin-bottom: 20px;
  color: transparent; /* Rende il colore del testo trasparente */
  background: linear-gradient(135deg, #FFC300, #990000); /* Imposta il gradiente */
  -webkit-background-clip: text; /* Applica il gradiente al testo per i browser WebKit (Chrome, Safari) */
  background-clip: text; /* Per i browser moderni */
  font-variant: small-caps; /* Maiuscoletto */
}
