/* Corpo della pagina */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #121212;
  flex-direction: column; /* Imposta il layout in colonna */
}

/* Contenitore */
#title-container {
  text-align: center;
  background-color: #1F1F1F;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

#button-container {
  text-align: center;
  background-color: #1F1F1F;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 90%;
  max-width: 500px;
}

/* Pulsanti in layout Grid */
#buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne uguali */
  gap: 20px; /* Spaziatura tra i pulsanti */
  margin-top: 20px;
}

button {
  padding: 15px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049; /* Colore al passaggio del mouse */
}
